@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500;700;701&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Metal+Mania&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    cursor: pointer;
}

#input-bg{
    height: 100vh;
    width:100vw;
    background-image: url("./assets/4444 (1).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 99vh;
}

#container{
    height:fit-content;
    width:500px;
    background-color:  #F0B858;
    border-radius: 5%;
    border:5px solid lightcyan;
    /* opacity: 0.8; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#input ,#level{
    font-size: 50px;
    font-family: 'Metal Mania', cursive;
    padding: 20px;
    justify-content: space-between;
}

#submit, #nickname, #easy , #medium ,#difficult{
    font-family: 'Metal Mania' , cursive;
    padding: 10px;
    font-size: 20px;
    border-radius: 2%;
    background-color: #443D6A;
    color:#F0B858;
    text-align: center;
}

#nickname{
    margin-left: 110px;
}
#submit{
    margin-left: 180px;
    background-color:;
}

#easy,
#medium,
#difficult{
    margin-left: 40px;
}

#level{
    flex-direction: column;
    align-items: center;
    gap:20px;
}

@media (max-width: 768px) {
    #container {
        height:400px;
        width: 300px; 
    }

    #input,
    #level {
        font-size: 20px; 
        padding-left:20px; 
    }
    #nickname{
        margin-top: 10px;
        margin-left: 10px;
    }
    #submit{
        margin-top: 10px;
        margin-left: 80px;
    }
    
    #easy,
    #medium,
    #difficult{
        margin-top: 0;
        margin-left: 40px;
    }
}